{% extends 'store/store_layout.html' %}
{% load static %}

{% block title %}
Store
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="banner-wrapper">
        <div class="banner-container">
            <img class="banner" src="{% static 'main/img/banner.png' %}" alt="Banner">
        </div>
    </div>
    <div class="product-grid-wrapper">
        <div class="product-grid">
            <a href="{% url 'category' category_name='br' %}">
            <div class="product-card">
                <div class="product-image" style='background-image: url("/static/main/img/bedroom.jpeg");'></div>
                <div class="product-details">
                    <p class="product-price">Starting at $299.99</p>
                </div>
            </div>
        </a>
            <a href="{% url 'category' category_name='lr' %}">
            <div class="product-card">
                <div class="product-image" style='background-image: url("/static/main/img/living-room.jpeg");'></div>
                <div class="product-details">
                    <p class="product-price">Starting at $199.99</p>
                </div>
            </div>
        </a>
        </div>
        <div class="product-grid">
            <a href="{% url 'category' category_name='of' %}">
            <div class="product-card">
                <div class="product-image" style='background-image: url("/static/main/img/office.jpeg")'></div>
                <div class="product-details">
                    <p class="product-price">Starting at $119.99</p>
                </div>
            </div>
        </a>
        <a href="{% url 'category' category_name='dn' %}">
            <div class="product-card">
                <div class="product-image" style='background-image: url("/static/main/img/dinner.jpeg");'></div>
                <div class="product-details">
                    <p class="product-price">Starting at $199.99</p>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>
<h2 class="section-title">Just In</h2>
<div class="just-in-container">
    {% for item in just_in_items %}
    <div class="item-grid">
        <div class="item-card">
            <a href="{% url 'product_detail' item.id %}" class="item-link">
                <div class="item-image" style='background-image: url("{{ item.img.url }}");'></div>
                <div class="item-details">
                    <h2 class="item-title">{{ item.name }}</h2>
                    <p class="item-price">{{ item.price }}$</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
