{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class="content">
    <div class="intro-section">
        <h1>UrbanInteriors</h1>
        <h4>Discover timeless elegance and comfort with our exclusive collection. <br> Transform your space into a stylish haven with furniture that reflects your unique taste.</h4>
        <div class="text-box">
            <a href="{% url 'store' %}" class="btn btn-white btn-animate">Store</a>
        </div>
    </div>
    <div class="animate">
    <div class="categories-section">
        <h2>Categories</h2>
        <h4>Simplicity, Distinction, Quality, and Only the Finest Natural Materials.</h4>
        <div class="categories-container">
            <div class="category-item">
                <a href="/category/living-room">
                    <img src="{% static 'main/img/living-room.jpeg'%}" alt="Living Room">
                </a>
            </div>
            <div class="category-item">
                <a href="/category/bedroom">
                    <img src="{% static 'main/img/bedroom.jpeg'%}" alt="Bedroom">
                </a>
            </div>
            <div class="category-item">
                <a href="/category/office">
                    <img src="{% static 'main/img/office.jpeg'%}" alt="Office">
                </a>
            </div>
        </div>
    </div>
    </div>

    
    <div class="carousel">
        <h2>Our bestsellers</h2>
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Echo Nest</div>
            <div class="num">01</div>
            <img
              src="{% static 'main/img/echo-nest.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Aurora Lounge</div>
            <div class="num">02</div>
            <img
              src="{% static 'main/img/aurora-lounge.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Verve</div>
            <div class="num">03</div>
            <img
              src="{% static 'main/img/verve.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Horizon</div>
            <div class="num">04</div>
            <img
              src="{% static 'main/img/horizon.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Prism</div>
            <div class="num">05</div>
            <img
              src="{% static 'main/img/prism.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Whisper</div>
            <div class="num">06</div>
            <img
              src="{% static 'main/img/whisper.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Orbit</div>
            <div class="num">07</div>
            <img
              src="{% static 'main/img/orbit.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Nimbus</div>
            <div class="num">08</div>
            <img
              src="{% static 'main/img/Nimbus.jpeg'%}" />
          </div>
        </div>
    
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Nova</div>
            <div class="num">09</div>
            <img
              src="{% static 'main/img/Nova.jpeg'%}" />
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-box">
            <div class="title">Echo</div>
            <div class="num">10</div>
            <img
              src="{% static 'main/img/Echo.jpeg'%}" />
          </div>
        </div>
      </div>
      <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <div class="responsive-container-block leftSide">
            <p class="text-blk heading">
                Welcome to UrbanInteriors, where design meets comfort.
            </p>
            <p class="text-blk subHeading">
                At UrbanInteriors, we believe that your home should be a reflection of your unique style and personality. That's why we offer a curated selection of high-quality furniture that combines innovative design with exceptional craftsmanship. Whether you're furnishing a cozy apartment or a spacious home, our pieces are crafted to bring beauty, functionality, and comfort to every room.
            </p>
          </div>
          <div id="about" class="responsive-container-block rightSide">
            <img class="number1img" src="{% static 'main/img/designer.jpeg' %}">
            <img class="number2img" src="{% static 'main/img/shipping.jpeg' %}">
            <img class="number3img" src="{% static 'main/img/desk.jpeg' %}">
            <img class="number5img" src="{% static 'main/img/warehouse.jpeg' %}">
            <iframe allowfullscreen="allowfullscreen" class="number4vid" src="https://www.youtube.com/embed/dQw4w9WgXcQ">
            </iframe>
            <img class="number7img" src="{% static 'main/img/childrensroom.jpeg' %}">
            <img class="number6img" src="{% static 'main/img/chair.jpeg' %}">
          </div>
        </div>
      </div>
      <div id ="contacts" class="contacts">
      <h3>+1 234 567 89 10</h3>
    <h5>contact@urbaninteriors.com</h5>
      <div class="wrapper">
        <div class="button">
           <div class="icon">
              <i class="fab fa-facebook-f"></i>
           </div>
           <span>Facebook</span>
        </div>
        <div class="button">
           <div class="icon">
              <i class="fab fa-twitter"></i>
           </div>
           <span>Twitter</span>
        </div>
        <div class="button">
           <div class="icon">
              <i class="fab fa-instagram"></i>
           </div>
           <span>Instagram</span>
        </div>
        <div class="button">
           <div class="icon">
              <i class="fab fa-youtube"></i>
           </div>
           <span>YouTube</span>
        </div>
     </div>
    </div>
    
</div>
<script>

    let progress = 50
    let startX = 0
    let active = 0
    let isDown = false


    const speedWheel = 0.02
    const speedDrag = -0.1


    const getZindex = (array, index) => (array.map((_, i) => (index === i) ? array.length : array.length - Math.abs(index - i)))

    const $items = document.querySelectorAll('.carousel-item')
    const $cursors = document.querySelectorAll('.cursor')

    const displayItems = (item, index, active) => {
      const zIndex = getZindex([...$items], active)[index]
      item.style.setProperty('--zIndex', zIndex)
      item.style.setProperty('--active', (index - active) / $items.length)
    }


    const animate = () => {
      progress = Math.max(0, Math.min(progress, 100))
      active = Math.floor(progress / 100 * ($items.length - 1))

      $items.forEach((item, index) => displayItems(item, index, active))
    }
    animate()


    $items.forEach((item, i) => {
      item.addEventListener('click', () => {
        progress = (i / $items.length) * 100 + 10
        animate()
      })
    })


    const handleWheel = e => {
      const wheelProgress = e.deltaY * speedWheel
      progress = progress + wheelProgress
      animate()
    }

    const handleMouseMove = (e) => {
      if (e.type === 'mousemove') {
        $cursors.forEach(($cursor) => {
          $cursor.style.transform = `translate(${e.clientX}px, ${e.clientY}px)`
        })
      }
      if (!isDown) return
      const x = e.clientX || (e.touches && e.touches[0].clientX) || 0
      const mouseProgress = (x - startX) * speedDrag
      progress = progress + mouseProgress
      startX = x
      animate()
    }

    const handleMouseDown = e => {
      isDown = true
      startX = e.clientX || (e.touches && e.touches[0].clientX) || 0
    }

    const handleMouseUp = () => {
      isDown = false
    }


    document.addEventListener('mousewheel', handleWheel)
    document.addEventListener('mousedown', handleMouseDown)
    document.addEventListener('mousemove', handleMouseMove)
    document.addEventListener('mouseup', handleMouseUp)
    document.addEventListener('touchstart', handleMouseDown)
    document.addEventListener('touchmove', handleMouseMove)
    document.addEventListener('touchend', handleMouseUp)
  </script>
{% endblock %}
