{% extends 'store/store_layout.html' %}
{% block title %}
Search Results
{% endblock %}

{% block content %}
    <div class="search-content">
    {% if query %}
    {% endif %}

    {% if page.object_list %}
            {% for result in page.object_list %}
            <div class="product-container-categories">
                <a href="{% url 'product_detail' result.object.id %}" class="product-link-categories">
                    <div class="product-image-categories" style="background-image: url('{{ result.object.img.url }}');"></div>
                    <div class="product-details-categories">
                        <h2 class="product-title-categories">{{ result.object.name }}</h2>
                        <p class="product-description-categories">{{ result.object.description }}</p>
                        <p class="product-price-categories">{{ result.object.price }}$</p>
                    </div>
                </a>
            </div>
            {% endfor %}
    {% else %}
        <p style="color:azure">No results found.</p>
    {% endif %}
    </div>
{% endblock %}


